<div id="node-15" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>The Video feature comes with a <a target="_blank" href="http://drupal.org/project/context">Context</a> that customizes display settings when Video content is being viewed. The context:</p>
<ul>
<li>Displays a contextual sidebar block.</li>
<li>Sets breadcrumbs to point to the Video landing page.</li>
<li>Sets the active menu item.</li>
</ul>
<p>Use the context administration page to customize <a href="&amp;base_url&amp;admin/build/context/list/video-content-type/edit">this</a> or other contexts.</p>
</div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
