<div id="node-9" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>Debut Video is part of <a target="_blank" href="http://drupal.org/project/debut">Debut</a>, a set of baseline Drupal <a target="_blank" href="http://drupal.org/project/features">Features</a> designed to work independently yet integrate seamlessly together.</p>
<p>Debut Video provides users with the ability to post embedded video files from <a target="_blank" href="http://archive.org">Archive.org</a> or other video hosting services.  If a video file already exists on one of these hosts, the user simply pastes in the URL when creating a new "Video" content type.  If the video file has not already been uploaded, an additional step to upload the file needs to be done as well.</p>
</div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
