<div id="node-40" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>When uploading a video, you have the option to use an image to represent the video in a listings format.  While external services will automatically provide a screenshot, this does not give you any way to control the display and may interfere with a listing view.</p>

<h2>Taking a screenshot from a video:</h2>

<ul>
<li>Play the video you want to capture an image from.</li>
<li>Use the print screen button on your keyboard to take a shot of the video (or use any other screenshot application you have).</li>
<li>You will now need to open this image in image editing software to crop and save in the correct format.</li>
<li>If you don't already have access to image editing software, you can download the GIMP (GNU Image Manipulation Program) at http://www.gimp.org/ which is available for Linux, Windows and Mac.</li>
</ul>

<h2>Using GIMP</h2>

<ul>
<li>Right click your screen shot and select "Open with GIMP image editor".</li>
<li>From the toolbox use the rectangular select tool to select the area of the image you wish to have displayed.</li>
<li>Under the  "Image" menu, select "Crop to selection" to crop your image.</li>
<li>Save your image in jpeg format.</li>
</ul>

<h2>Uploading the image</h2>

<ul>
<li>Now you are ready to upload your still image when creating a video content type.  </li>
<li>Browse and then upload, and optionally fill in the alternate text (for screen readers) and a title for the image when it is hovered over.</li>
</ul>
</div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
