<div id="node-11" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>To post a new video file:</p>
<ul>
<li>Identify an externally hosted video file to embed. Either:
<ul>
<li>select an existing file, or</li>
<li>upload a new one.</li>
</ul>
</li>
<li>Optionally, select an image to display alongside the embedded video and in listings.</li>
<li>Create a new post of type "Video", copying in the location of the externally hosted video file and optionally uploading the accompanying image.</li>
</ul>
</div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
