<div id="node-12" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>An embedded video content type relies on video files that are hosted on an external site.  The Debut Video feature is configured for files that are hosted on <a target="_blank" href="http://archive.org">Archive.org</a>, <a target="_blank" href="http://vimeo.com">Vimeo</a>, or <a target="_blank" href="http://www.youtube.com">YouTube</a>.  The first step in posting content to your Drupal site is to ensure that it is uploaded on an external host.</p>
</div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
