<div id="node-13" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p><a target="_blank" href="http://archive.org">Archive.org</a> is one option for hosting video files. Potential advantages of archive.org over other external hosts include:</p>
<ul>
<li>a single service where video, audio, and document files can be hosted, rather than needing to use separate services for each</li>
<li>non-branded players</li>
<p>To upload to archive.org:</p>
<ul>
<li>If you don't already have one, create an account, or use an OpenID identity.</li>
<li>Log in.</li>
<li>Click the "Upload" button to bring up the file upload form.</li>
<li>Fill out and submit the form.</li>
</ul>
<p>When your file is uploaded, it will be displayed at a URL that reflects the name you've given it, something like <a href="http://www.archive.org/details/MyVideoRecording" title="http://www.archive.org/details/MyVideoRecording">http://www.archive.org/details/MyVideoRecording</a>. This URL is what you'll need to copy and paste into the Video content editing form to embed the video on your site.</p>
</ul></div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
