<div id="node-14" class="node">



  
  <div class="content clear-block">
    <div class='node-body'><p>If you choose to use an alternate external host, follow these steps:</p>
<ul>
<li> Create an account with the external provider of your choice:
<ul>
<li><a target="_blank" href="http://vimeo.com">Vimeo</a></li>
<li><a target="_blank" href="http://www.youtube.com">YouTube</a></li>
</ul>
</li><li> Follow their instructions to upload a video file.</li>
<p>When your file is uploaded, it will be displayed at a URL that reflects the name you've given it. This URL is what you'll need to copy and paste into the Video content editing form to embed the video on your site.</p>
</ul></div>  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
